*{
    box-sizing: border-box;
}
body{
    background-image: url("./kevesebb.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
    color: #22ff00;
    height: 100vh;
    overflow: hidden;
}
#txt{
    margin-left: 30px;
    padding: 0;
}
h1{
    font-weight: normal;
    font-size: 4rem;
    padding: 0;
}    
@media screen and (max-width: 600px){
    #txt{
        margin: 0;
        padding: 0;
    }
    h1{
        margin: 0;
        padding: 0;
        color: red;
    }       
}
.row{
	filter: drop-shadow(0 -3px 6px #000);
}
snap{
	display: flex;
    color: aqua;
    font-size: 35px;
	text-align: center;
	transform: translateY(-90%);
	filter: drop-shadow(0 -2px 1px black);
	justify-content: center;
}
.big-text{
    font-weight: bold;
    font-size: 6rem;
    line-height: 1;
}
.bday{
    color: #000;
    text-decoration: underline;
}
footer{
	bottom: 0;
	position: absolute;
	background-color: #1e1c1c;
	width: 100%;
	padding: 10px;
	color: gray;
	text-align: center;
}
